<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">职业</label>
            <div class="layui-input-block">
                <input type="text" name="occupation" class="layui-input" lay-verify="required" placeholder="请输入职业" value="{$row.occupation|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" lay-verify="required" placeholder="请输入姓名" value="{$row.name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" class="layui-input" lay-verify="required" placeholder="请输入联系电话" value="{$row.phone|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">微信号</label>
            <div class="layui-input-block">
                <input type="text" name="wechat" class="layui-input" lay-verify="required" placeholder="请输入微信号" value="{$row.wechat|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" class="layui-input" lay-verify="required" placeholder="请输入详细地址" value="{$row.address|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">留言</label>
            <div class="layui-input-block">
                <input type="text" name="message" class="layui-input" lay-verify="required" placeholder="请输入留言" value="{$row.message|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>